:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  /* font-weight: normal; */
  /* line-height: 24px;
  font-weight: 400; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* https://materialui.co/colors
       Saturation 500 */
  --tl-material-50-grey: #fafafa;
  --tl-material-100-grey: rgb(245, 245, 245);

  --tl-material-50-blue-grey: rgb(236, 239, 241);
  --tl-material-100-blue-grey: rgb(207, 216, 220);
  --tl-material-200-blue-grey: rgb(176, 190, 197);
  --tl-material-300-blue-grey: rgb(144, 164, 174);
  --tl-material-500-blue-grey: rgb(96, 125, 139);
  --tl-material-400-blue-grey: rgb(120, 144, 156);
  --tl-material-600-blue-grey: rgb(84, 110, 122);
  --tl-material-700-blue-grey: rgb(69, 90, 100);
  --tl-material-800-blue-grey: rgb(55, 71, 79);
  --tl-material-900-blue-grey: rgb(38, 50, 56);

  --tl-material-50-red: rgb(255, 235, 238);
  --tl-material-100-red: rgb(255, 205, 210);
  --tl-material-200-red: rgb(239, 154, 154);
  /* Logo colour */
  --tl-material-300-red: rgb(229, 115, 115);
  --tl-material-400-red: rgb(239, 83, 80);
  --tl-material-500-red: rgb(244, 67, 54);
  --tl-material-600-red: rgb(229, 57, 53);
  --tl-material-700-red: rgb(211, 47, 47);
  --tl-material-800-red: rgb(198, 40, 40);

  --tl-material-400-indigo: rgb(92, 107, 192);
  --tl-material-500-teal: rgb(0, 150, 136);
  --tl-material-600-light-green: rgb(124, 179, 66);
  --tl-material-500-amber: rgb(255, 193, 7);
  --tl-material-300-brown: rgb(161, 136, 127);
  --tl-material-700-cyan: rgb(0, 151, 167);
  --tl-material-700-orange: rgb(245, 124, 0);
  --tl-material-500-yellow: rgb(255, 235, 59);
  --tl-material-grey-400: rgb(189, 189, 189);
  --tl-material-100-light-blue: rgb(179, 229, 252);
  --tl-material-400-light-blue: rgb(41, 182, 246);

  /* Custom colour variables */

  --tl-colour-background: white;

  --tl-colour-font: var(--tl-material-800-blue-grey);
  --tl-colour-font-faint: var(--tl-material-300-blue-grey);
  --tl-colour-font-titles: var(--tl-material-700-red);

  --tl-colour-link: var(--tl-material-800-red);
  --tl-colour-link-hover: var(--tl-material-400-red);

  --tl-colour-menu: var(--tl-material-700-blue-grey);
  --tl-colour-menu-active: var(--tl-material-500-blue-grey);
  --tl-colour-menu-hover: var(--tl-material-100-blue-grey);

  --tl-colour-post: white;
  --tl-colour-post-hover: var(--tl-material-500-yellow);

  --tl-colour-box-shadow: var(--tl-material-200-blue-grey);

  --tl-colour-chart-background: white;
  --tl-colour-chart-border: var(--tl-material-50-blue-grey);

  --tl-colour-lines: var(--tl-material-400-blue-grey);
  --tl-colour-faint-lines: var(--tl-material-100-blue-grey);
  --tl-colour-legend-active: var(--tl-material-100-blue-grey);
  --tl-colour-legend-highlight: var(--tl-material-200-blue-grey);

  --tl-colour-input-border: var(--tl-material-200-blue-grey);
  --tl-colour-toggle: var(--tl-material-500-blue-grey);
  --tl-colour-toggle-hover: var(--tl-material-300-blue-grey);

  --tl-colour-toggle-hover-font: white;
  --tl-colour-range-slider-fill: var(--tl-material-100-grey);
  --tl-colour-search-reset-hover: var(--tl-material-500-red);

  --tl-not-filtered: var(--tl-material-200-blue-grey);


  /* Other custom variables */

  --tl-opacity-faint: 0.4;

  --tl-size-border-radius: 0.4rem;

  --tl-size-input-padding: 0.4rem 0.6rem;

  --tl-size-figure-padding-bottom: 0;

  color: var(--tl-colour-font);
}

time-line {
  display: block;
  width: 100%;
  margin: 1rem 0;
}

time-line * {
  box-sizing: border-box;
}

time-line a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

time-line a:hover {
  color: #535bf2;
}


@media (max-width:599px) {
  body time-line * {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

time-line h1,
time-line h2,
time-line h3,
time-line h4 {
  color: var(--tl-colour-font-titles);
}

time-line h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

time-line h2 {
  font-size: 1.4rem;
}

time-line h3 {
  font-size: 1.2rem;
}

time-line h4 {
  font-size: 1rem;
}

time-line p {
  /* line-height: 2rem; */
  position: relative;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

/* time-line li {
  padding: 0.5rem;
  text-align: left;
  line-height: 1.4rem;
  ;
} */


/* time-line .sub-title {
  font-weight: bold;
} */


time-line button,
time-line a {
  transition: background-color ease-in 500ms;
}


time-line svg {
  display: block;
}

/* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
.wrap-all {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  hyphens: auto;
}